<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CNC_Improvements_gcode_solids.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CNC_Improvements_gcode_solids.Properties.Settings>
            <setting name="FreeCadPath" serializeAs="String">
                <value>C:\Program Files\FreeCAD 0.21\bin\FreeCADCMD.exe</value>
            </setting>
            <setting name="ProfileColor" serializeAs="String">
                <value>#FF00FF00</value>
            </setting>
            <setting name="ProfileWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OffsetColor" serializeAs="String">
                <value>#FFFFA500</value>
            </setting>
            <setting name="OffsetWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ClosingColor" serializeAs="String">
                <value>#FF808080</value>
            </setting>
            <setting name="ClosingWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GraphicTextColor" serializeAs="String">
                <value>#FFFBFF3D</value>
            </setting>
            <setting name="TangentAngTol" serializeAs="String">
                <value>0.122</value>
            </setting>
            <setting name="SmallSegment" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="LogWindowShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClipperInputPolyTol" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="MinArcPoints" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SnapRad" serializeAs="String">
                <value>0.1</value>
            </setting>
        </CNC_Improvements_gcode_solids.Properties.Settings>
    </userSettings>
</configuration>